/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
/*Imports*/


html {
  margin: 0;
  padding: 0;
}

.app {
  background-color: transparent;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal
}

h1 {
  font-family: 'Londrina Outline', cursive;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnav button,
.search button {
  border-radius: 10em;
}

.topnav button,
.search button,
.column2 button {
  width: 120px;
  height: 45px;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;

  background: linear-gradient(135deg, #2d73ea 0%, #aa4cfb 100%);
}

.topnav button:hover,
.search button:hover,
.column2 button:hover {
  opacity: 0.7;
  border: 2px solid white;
}

.sub {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.sub p {
  width: 60%;
}


main {
  display: flex;
  justify-content: center;
}

.page {
  width: 1200px;
}


/*media*/
@media screen and (max-width: 700px) {
  .page {
    width: 100% !important;
  }
}